---
title: "{{CURRENT_YEAR}}.{{CURRENT_MONTH}}.{{CURRENT_DATE}}: {{TITLE}}"
date: {{CURRENT_YEAR}}-{{CURRENT_MONTH}}-{{CURRENT_DATE}}T{{CURRENT_HOUR}}:{{CURRENT_MINUTE}}:{{CURRENT_SECOND}}+08:00
updated: {{CURRENT_YEAR}}-{{CURRENT_MONTH}}-{{CURRENT_DATE}}
taxonomies:
  categories:
    - 日记
  tags:
    - 日记
    - 生活
---

{{CONTENT}}
